* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

input,
button,
select,
textarea {
    font-family: inherit;
}

/* Common */
:root {
    --primary-color: #7264d6;
    --primary-heading-color: #212832;
    --primary-text-color: #696d76;
}

.container {
    max-width: 1170px;
    width: calc(100% - 48px);

    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 149px;
    height: 58px;

    border: none;
    border-radius: 8px;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

    color: #fff;

    outline: none;
}

.introduce {
    display: flex;
    align-items: center;
    column-gap: 12px;

    margin-bottom: 12px;

    font-size: 1.6rem;
    line-height: 1.75;

    color: #696d77;
}

.introduce::before {
    content: "";
    display: inline-block;

    width: 18px;
    height: 2px;

    background: #696d77;
}

.desc {
    margin-top: 20px;

    font-size: 1.8rem;
    line-height: 1.67;

    color: var(--primary-text-color);
}

.sub-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;

    color: var(--primary-heading-color);
}

@keyframes leftRight {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes topBottom {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rightLeft {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Header */
.header {
    padding: 24px 0;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 46px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__link {
    padding: 8px 24px;

    font-size: 1.6rem;
    line-height: 1.75;

    color: var(--primary-text-color);
}

.header__link--active {
    font-weight: 600;

    color: #212832;

    position: relative;
}

.header__link--active::after {
    content: "";
    display: block;

    width: calc(100% - 48px);
    height: 1px;

    border-radius: 99px;

    background: var(--primary-color);

    position: absolute;
    bottom: 0;
    left: 24px;
}

.header__actions {
    display: flex;
    align-items: center;
    column-gap: 28px;

    margin-left: auto;
}

.header__btn--login {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

    color: #212832;
}

.header__btn--signup {
    width: 113px;
    height: 52px;

    border-radius: 6px;

    background: #212832;
}

/* Hero */
.hero {
    margin-top: 52px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;

    color: var(--primary-heading-color);
}

.hero__form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 8px;
    margin-top: 40px;

    border-radius: 8px;

    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__email {
    width: 100%;
    height: 58px;

    padding: 0 15px;
    border: none;

    outline: none;
}

.hero__email::placeholder {
    font-size: 1.6rem;
    line-height: 1.75;

    color: var(--primary-text-color);
}

.hero__btn {
    flex-shrink: 0;

    background: var(--primary-color);
}

.hero__note {
    margin-top: 20px;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;

    color: var(--primary-text-color);
}

.hero__media {
    width: 49%;

    position: relative;
}

.hero-deposite {
    display: flex;
    align-items: center;

    width: 174px;

    padding: 14px 10px;
    border-radius: 6px;

    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);

    position: absolute;
    top: 21%;
    left: 0;

    z-index: 1;

    animation: leftRight 1.5s linear infinite alternate;
}

.hero-deposite__title {
    margin-left: 8px;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;

    color: #31456a;
}

.hero-deposite__price {
    margin-left: auto;

    font-size: 1.4rem;
    line-height: 1;

    color: #4ab5e3;
}

.hero-app {
    width: 52%;

    padding: 40px 11px 30px;
    border: 12px solid #212832;
    border-radius: 40px;
    margin-left: 18%;

    background: #fff;

    position: relative;
}

.hero-app__notch {
    width: 49%;
    height: 36px;

    border-radius: 0px 0px 18px 18px;

    background: #3c2f60;

    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 100%;

    padding: 16px;
    border-radius: 20px;

    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);

    position: relative;

    overflow: hidden;
}

.card__decor {
    position: absolute;
}

.card__decor--top {
    top: 0;
    left: 1px;
}

.card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__heading {
    font-size: 1.4rem;

    color: #fff;

    position: relative;
    z-index: 1;
}

.card__circles {
    display: flex;

    position: relative;
    z-index: 1;
}

.card__circle {
    width: 24px;
    height: 24px;

    border-radius: 50%;

    mix-blend-mode: overlay;
}

.card__circle:first-child {
    background: #fe6565;
}

.card__circle:last-child {
    margin-left: -9px;

    background: #feef65;
}

.card__price {
    margin-top: 2px;

    font-size: 2.2rem;
    font-weight: 700;

    color: #fff;
}

.card__bottom {
    display: flex;
    column-gap: 12px;

    margin-top: 32px;

    position: relative;
    z-index: 1;
}

.card__title {
    color: #fff;
}

.card__info {
    margin-top: 5px;

    font-size: 1.2rem;
    font-weight: 600;

    color: #fff;
}

.card__decor--bottom {
    right: -4px;
    bottom: -1px;
}

.hero-app__topic {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;
}

.hero-app__heading {
    font-size: 1.6rem;
    font-weight: 600;

    color: #31456a;
}

.hero-app__filter {
    border: none;
    outline: none;

    background: transparent;
}

.hero-app__list {
    margin-top: 28px;
}

.hero-app__item {
    display: flex;
    align-items: center;
}

.hero-app__item + .hero-app__item {
    margin-top: 28px;
}

.hero-app__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 8px;

    /* box-shadow: -4px -2px 16px 0px #fff,
        4px 2px 16px 0px rgba(136, 165, 191, 0.48); */
}

.hero-app__item:first-child .hero-app__wrapper {
    background: rgba(74, 181, 227, 0.1);
}

.hero-app__item:nth-child(2) .hero-app__wrapper {
    background: rgba(218, 100, 100, 0.1);
}

.hero-app__item:nth-child(3) .hero-app__wrapper {
    background: rgba(67, 159, 144, 0.1);
}

.hero-app__item:last-child .hero-app__wrapper {
    background: rgba(114, 100, 214, 0.1);
}

.hero-app__details {
    margin-left: 14px;
}

.hero-app__title,
.hero-app__price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;

    color: var(--primary-heading-color);
}

.hero-app__desc,
.hero-app__date {
    margin-top: 6px;

    line-height: 1;

    color: var(--primary-text-color);
}

.hero-app__statistical {
    margin-left: auto;

    text-align: right;
}

.hero-interest {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 130px;

    border-radius: 50%;

    background: #da6464;

    position: absolute;
    top: 23%;
    right: 0;

    animation: topBottom 1.5s linear infinite alternate;
}

.hero-interest__percent,
.hero-interest__title {
    text-align: center;

    color: #fff;
}

.hero-interest__percent {
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__title {
    font-size: 1.6rem;
}

.hero-secured-funds {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;

    width: 124px;
    height: 68px;

    border-radius: 10px;

    background: #439f90;

    position: absolute;
    right: 18%;
    bottom: 11%;

    animation: rightLeft 1.5s linear infinite alternate;
}

.hero-secured-funds__price,
.hero-secured-funds__title {
    line-height: 1;

    color: #fff;
}

.hero-secured-funds__price {
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-secured-funds__title {
    margin-top: 5px;

    font-size: 0.8rem;
}

/* Works */
.works {
    margin-top: 160px;
}

.works__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.works__media {
    width: 49%;

    position: relative;
}

.works__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    border-radius: 8px;

    position: absolute;
    top: 12%;
    right: 28%;

    animation: topBottom 1.5s linear infinite alternate;
}

.works__logo-wrapper::before {
    content: "";

    width: 62.5%;
    height: 62.5%;

    border-radius: inherit;

    background: #f8fbfe;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.works__logo-wrapper::after {
    content: "";

    width: 100%;
    height: 100%;

    border-radius: inherit;

    background: var(--primary-color);

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: -1;
}

.works__logo {
    position: relative;
    z-index: 1;
}

.works__wrapper {
    width: 82%;

    position: relative;
}

.works__wrapper::after {
    content: "";

    display: inline-block;

    width: 100%;
    height: 89%;

    background-image: url("../img/works-wrapper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: -2;
}

.works__image {
    display: block;

    width: 97%;

    margin: 0 auto;
}

.works-congratulations {
    display: flex;
    align-items: center;
    column-gap: 10px;

    padding: 15px 30px 15px 15px;
    border-radius: 8px;
    background: #fffdfa;

    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);

    position: absolute;
    right: 0;
    bottom: 16%;

    animation: leftRight 1.5s linear infinite alternate;
}

.works-congratulations__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 6px;

    background: #4ab5e3;

    position: relative;
}

.works-congratulations__icon-wrapper::after {
    content: "";

    display: inline-block;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.works-congratulations__icon {
    position: relative;
    z-index: 1;
}

.works-congratulations__title {
    font-size: 1.4rem;
    font-weight: 600;

    color: var(--primary-heading-color);
}

.works-congratulations__desc {
    margin-top: 5px;

    font-size: 1.2rem;

    color: var(--primary-text-color);
}

.works__content {
    width: 40%;
}

.works__list {
    margin-top: 70px;
}

.works-item + .works-item {
    margin-top: 30px;
}

.works-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;

    color: var(--primary-heading-color);
}

.works-item__desc {
    margin-top: 16px;

    font-size: 1.6rem;
    line-height: 1.75;

    color: var(--primary-text-color);
}

/* Feature */
.feature {
    margin-top: 160px;
}

.feature__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    row-gap: 160px;
}

.feature__content {
    width: 470px;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    display: flex;
    align-items: center;
    column-gap: 12px;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;

    color: var(--primary-heading-color);
}

.feature__item::before {
    content: "";

    display: inline-block;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: var(--primary-color);
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature__btn {
    margin-top: 38px;

    background: #212832;
}

.feature__media {
    display: flex;
    align-items: center;

    width: 570px;
    height: 425px;

    position: relative;
}

.feature__media:not(:nth-of-type(2)) {
    justify-self: end;
}

.feature-send-money {
    display: flex;
    align-items: center;

    width: 276px;

    padding: 23px 13px;
    border-radius: 12px;

    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);

    position: absolute;
    top: 0;
    right: 0;

    z-index: 2;

    animation: leftRight 1.5s linear infinite alternate;
}

.feature-send-money__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 8px;

    background: rgba(218, 100, 100, 0.1);
}

.feature-send-money__details {
    margin-left: 14px;
}

.feature-send-money__statistical {
    margin-left: auto;
}

.feature-send-money__title,
.feature-send-money__price {
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;

    color: #212832;
}

.feature-send-money__price {
    text-align: right;
    font-size: 1.6rem;
}

.feature-send-money__desc,
.feature-send-money__date {
    font-family: Inter;

    color: #696d76;
}

.feature-send-money__desc {
    margin-top: 4px;
}

.feature-send-money__date {
    margin-top: 3px;

    text-align: right;
}

.feature-send-money__icon {
    position: relative;
    z-index: 1;
}

.feature__card {
    width: 85%;
    padding: 38px;
}

.feature__card .card__heading {
    font-size: 2.4rem;
}

.feature__card .card__price {
    margin-top: 10px;

    font-size: 3.2rem;

    position: relative;
    z-index: 1;
}

.feature__card .card__circle {
    width: 48px;
    height: 48px;
}

.feature__card .card__bottom {
    margin-top: 98px;

    column-gap: 26px;
}

.feature__card .card__title {
    font-size: 2rem;
}

.feature__card .card__info {
    font-size: 2.2rem;
}

.feature-income {
    width: 120px;
    height: 120px;

    padding: 15px 0 15px 15px;
    border-radius: 16px;

    background: #439f90;

    position: absolute;
    right: 0;
    bottom: 0;

    animation: topBottom 1.5s linear infinite alternate;
}

.feature-income__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 8px;

    background: #fff;
}

.feature-income__title {
    margin-top: 14px;

    font-size: 1.2rem;

    color: #fff;
}

.feature-income__price {
    margin-top: 6px;

    font-size: 1.8rem;
    font-weight: 600;

    color: #fff;
}

.feature__media:nth-of-type(2) {
    height: 600px;
}

.feature__media:nth-of-type(2) .feature__wrapper {
    width: 82%;
    height: 100%;

    position: relative;
}

.feature__media:nth-of-type(2) .feature__wrapper::after {
    content: "";

    display: inline-block;

    width: 100%;
    height: 72%;

    background-image: url("../img/feature-wrapper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    bottom: 0;
    left: 0;
}

.feature__media:nth-of-type(2) .feature__image {
    display: block;

    width: 88%;
    height: 100%;

    margin: 0 auto;

    position: relative;
    z-index: 1;

    object-fit: cover;
}

.feature-payment {
    width: 281px;
    height: 220px;

    padding: 28px;
    border-radius: 10px;

    background: #fff;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: 5%;
    bottom: 9.5%;

    z-index: 1;
}

.feature-payment__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;

    color: var(--primary-heading-color);
}

.feature-payment__method {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;

    margin-top: 20px;
}

.feature-payment__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;

    border: none;
    border-radius: 4px;

    background: #f2f2fa;

    cursor: pointer;

    outline: none;
}

.feature-payment__btn:last-child {
    background: #f9ea63;

    position: relative;
}

.feature-payment__btn:last-child::before {
    content: "";

    display: inline-block;

    width: 2px;
    height: 15px;

    background: #212832;

    position: absolute;
}

.feature-payment__btn:last-child::after {
    content: "";

    display: inline-block;

    width: 15px;
    height: 2px;

    background: #212832;

    position: absolute;
}

.feature-payment__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 90px;

    border-radius: 50%;

    background: var(--primary-color);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: 0;
    bottom: 37%;

    z-index: 1;

    animation: topBottom 1.5s linear infinite alternate;
}

.feature__content:nth-of-type(2) {
    justify-self: end;
}

/* Review */
.review {
    margin-top: 160px;
}

.review__introduce {
    justify-content: center;
}

.review__heading,
.review__desc {
    text-align: center;
}

.review__desc {
    width: 37%;

    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;

    font-size: 1.6rem;
    line-height: 1.75;
}

.review__list {
    margin-top: 70px;
}

.review__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.review-item__quote {
    width: 100%;

    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 8px;

    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;

    background: #fff;
    color: #696d76;

    cursor: pointer;

    position: relative;

    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.review-item__quote::after {
    content: "";

    display: inline-block;

    width: 65px;
    height: 65px;

    border-bottom: 1px solid #dfe2e8;
    border-left: 1px solid #dfe2e8;

    background: #fff;

    transform: rotate(-45deg);

    position: absolute;
    bottom: -34px;
    left: 43%;

    z-index: 1;

    transition: border-color 0.3s ease;
}

.review-item__quote:hover {
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.07);
    border-color: #fff;
}

.review-item__quote:hover::after {
    border-color: #fff;
}

.review-item__info {
    margin-top: 70px;
}

.review-item__wrapper {
    width: 105px;
    height: 105px;

    border-radius: 50%;

    background: #4ab5e3;

    margin: 0 auto;
}

.review-item:nth-child(2) .review-item__wrapper {
    background: #439f90;
}

.review-item__avatar {
    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}

.review-item__name {
    margin-top: 20px;

    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;

    color: #070052;
}

.review-item__desc {
    margin-top: 2px;

    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;

    color: #696d76;
}

.review__rectangles {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;

    margin-top: 38px;
}

.review__rectangle {
    width: 22px;
    height: 6px;

    border: 1px solid #9b9fab;
    border-radius: 1px;
}

.review__rectangle--active {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog__introduce {
    margin-bottom: 6px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    width: 435px;

    margin-top: 18px;

    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__btn {
    width: 123px;

    background: #212832;
}

.blog__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    margin-top: 70px;
}

.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;

    padding: 28px;
    border: 1px solid #dfe2e8;
    border-radius: 12px;

    background: #fff;

    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.blog-item:hover {
    border-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item:hover .blog-item__image {
    transform: scale(1.2);
}

.blog-item__media {
    flex-shrink: 0;

    width: 160px;
    height: 160px;

    border-radius: 12px;

    overflow: hidden;
}

.blog-item__image {
    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;

    transition: transform 0.3s ease-in-out;
}

.blog-item__date {
    font-size: 1.4rem;
    line-height: 1.72;

    color: #696d76;
}

.blog-item__title {
    margin-top: 10px;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;

    color: var(--primary-heading-color);
}

.blog-item__link {
    margin-top: 20px;

    font-size: 16px;
    line-height: 1.63;

    color: #696d76;

    transition: color 0.3s ease;
}

.blog-item__link:hover {
    color: #7264d6;
}

/* Download */
.download {
    margin-top: 160px;
}

.download__inner {
    padding: 100px 0;
    border-radius: 24px;

    background: var(--primary-color);

    position: relative;
}

.download__introduce {
    justify-content: center;

    color: #fff;
}

.download__introduce::before {
    background: #fff;
}

.download__heading {
    text-align: center;

    color: #fff;
}

.download__desc {
    width: 37%;

    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;

    color: #fff;
}

.download__store {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;

    margin-top: 38px;
}

.download__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 182px;
    height: 64px;

    border-radius: 6px;

    background: #fff;
}

.download__icon {
    position: absolute;
}

.download__icon:first-of-type,
.download__icon:nth-of-type(2) {
    top: 11%;
}

.download__icon:first-of-type {
    left: 10%;

    animation: leftRight 2s linear infinite alternate;
}

.download__icon:nth-of-type(2) {
    right: 10%;

    animation: rightLeft 2s linear infinite alternate;
}

.download__icon:nth-of-type(3),
.download__icon:last-of-type {
    bottom: 11%;
}

.download__icon:nth-of-type(3) {
    left: 14%;

    animation: leftRight 1s linear infinite alternate;
}

.download__icon:last-of-type {
    right: 14%;

    animation: rightLeft 1s linear infinite alternate;
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 163px;

    padding: 100px 0 54px;
}

.footer__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;

    color: var(--primary-heading-color);
}

.footer__list,
.footer__desc,
.footer__form {
    margin-top: 24px;
}

.footer__link,
.footer__desc {
    font-size: 1.8rem;
    line-height: 1.67;

    color: #6a6e78;

    opacity: 0.75;
}

.footer__item + .footer__item {
    margin-top: 24px;
}

.footer__desc {
    width: 371px;
}

.footer__column:last-of-type .footer__heading:last-of-type {
    margin-top: 48px;

    color: #0a142f;
}

.footer__form {
    display: flex;
    column-gap: 20px;

    height: 52px;
}

.footer__email {
    width: 270px;
    height: 100%;

    padding: 12px;
    border: 1px solid #8e919a;
    border-radius: 6px;

    outline: none;

    color: #8e919a;
}

.footer__email::placeholder {
    font-size: 1.6rem;
    line-height: 1.75;

    color: #8e919a;
}

.footer__btn {
    width: 113px;
    height: 100%;

    background: var(--primary-color);
}

.footer__info {
    display: flex;
    column-gap: 100px;
}

.footer__mail,
.footer__tel {
    display: block;

    font-size: 1.8rem;
    line-height: 1.67;

    color: #6a6e78;

    position: relative;
}

.footer__mail::after,
.footer__tel::after {
    content: "";

    display: inline-block;

    width: 100%;
    height: 1px;

    background: #6a6e78;

    position: absolute;
    bottom: 6px;
    left: 0;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 84px;

    margin-top: 28px;

    font-size: 1.6rem;
    line-height: 1.75;

    background: var(--primary-color);
    color: #fff;
}
